
.icon-fire:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-inbox:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-download:before { content: '\e806'; } /* '' */
.icon-flow-merge:before { content: '\e807'; } /* '' */
.icon-shuffle:before { content: '\e808'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-giraffe:before { content: '\e81b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-fort-awesome:before { content: '\f286'; } /* '' */
.icon-smashing:before { content: '\f357'; } /* '' */