@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?6030420');
  src: url('../font/fontello.eot?6030420#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?6030420') format('woff2'),
       url('../font/fontello.woff?6030420') format('woff'),
       url('../font/fontello.ttf?6030420') format('truetype'),
       url('../font/fontello.svg?6030420#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?6030420#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-fire:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-inbox:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-download:before { content: '\e806'; } /* '' */
.icon-flow-merge:before { content: '\e807'; } /* '' */
.icon-shuffle:before { content: '\e808'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-giraffe:before { content: '\e81b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-fort-awesome:before { content: '\f286'; } /* '' */
.icon-smashing:before { content: '\f357'; } /* '' */