*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}
main{
  width: 100%;
}
header{
  width: 100%;
  height: 45px;
  background-color: black;
  position: fixed;
  z-index: 50;
}
header span{
  font-size: 25px;
  padding: 6px;
  color: white;
  transition: all 300ms;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 12px;
}
header span:hover{
  background-color: red;
  border-radius: 20px;
}
.content-menu{
  width: 70px;
  height: 100%;
  background-color: black;
  transition: all 300ms;
  padding-top: 45px;

}

.codigosmaliciosos{
 color: red;
 position: absolute;
 top: 7%;
 left: 40%;
}
.pdep{
  color: black;
  position: absolute;
  top: 11%;
  left: 8%;
}
.content-menu2{
  width: 225px;
  margin-top: 0%;

}
.content-menu2 li span {
  display: flex;
  justify-content: flex-start;
  margin-left: 17px;

}
.content-menu2 h4{
  transform: translateY(-15px);

}

.content-menu img{
  width: 20px;
  height: 20px;

}

.content-menu2 img{
  display: flex;
  justify-content: flex-start;
  margin-left: 17px;
}
.content-menu h4{
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
}


.content-menu li{
  list-style: none;
  text-align: center;
  padding: 20px 0px 35px;
  color: white;
  transition: all 550ms;
  cursor: pointer;
  border-style: solid;
}
.content-menu li:before{
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 8px solid transparent;
  bottom: 0;
  left: 0;
  box-sizing: border-box;

}
.content-menu li:after{
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 8px solid transparent;
  top: 0;
  right: 0;
  box-sizing: border-box;
}
.content-menu li:hover:after{
  height: 100%;
  width: 100%;
  border: 2px solid red;
  border-left: none;
  border-top: none;
  transition: height 0.3s linear,
              width 0.3s linear 0.3s;
}
.content-menu li:hover:before{
  height: 100%;
  width: 100%;
  border: 2px solid red;
  border-right: none;
  border-bottom: none;
  transition: height 0.3s linear,
              width 0.3s linear 0.3s;
}
.content-menu li span{
  font-size: 20px;


}
.content-menu li:hover{
  transform: translateX(2px);

}
#puzle{
  width: 25px;
  height: 25px;
}
.icon1{
  cursor: pointer;
}

.icon2, .icon5, .icon6, .ico7, .icon8, .icon10, .icon12, .icon13{
  color: white
}

.todos{
  width: 100%;
  height: 100%;
}
.todos h2{
display: flex; border-bottom:
}
.icon8 h4{
  margin-left: 20%;
}
