*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  height: 100%;
}

.virusyanti{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;

}
body h2{
  font-size: 190%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-variant: small-caps;
}
body{
  display: flex;

}

.virus{
  width: 100%;
  height: 100%;
}
.virus img{
  background-color: #121212;
  background-position: 50%;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

}
.virus a,.antivirus a{
  display: flex;
  justify-content: center;
}
.virus h2{
  color: white;
}
.antivirus{
  width: 100%;
  height: 100%;
}
.antivirus h2{
  color: #FA6060;
}
.antivirus img{
  background-color: #121212;
  background-position: 50%;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
