*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}
body{
  background-color: white;
}
body::-webkit-scrollbar{
  width: 2px;
  background: none;
}
body::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  border-radius: 10px;
  background: linear-gradient(90deg, #FE8702, red);
}
main{
  width: 100%;
}
header{
  width: 100%;
  height: 35px;
  background-color: black;
  position: fixed;
  z-index: 50;
}
header span{
  font-size: 20px;
  padding: 6px;
  color: white;
  transition: all 300ms;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 12px;
}
header img{
  height: 25px;
}
.logo-icono{
  position: relative;
  top: 5px;
  left: 940px;
}
.icon-menu:hover{
  background-color: red;
  border-radius: 20px;
}

.content-menu{
  width: 70px;
  height: 100%;
  background-color: black;
  transition: all 300ms;
  padding-top: 35px;

}
.content-menu a{
  text-decoration: none;
}
.content-menu2{
  width: 225px;
  margin-top: 0%;

}
.content-menu2 li span {
  display: flex;
  justify-content: flex-start;
  margin-left: 17px;

}
.content-menu2 h4{
  transform: translateY(-15px);

}

.content-menu img{
  width: 20px;
  height: 20px;

}

.content-menu2 img{
  display: flex;
  justify-content: flex-start;
  margin-left: 17px;
}
.content-menu h4{
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
}


.content-menu li{
  list-style: none;
  text-align: center;
  padding: 20px 0px 35px;
  color: white;
  transition: all 550ms;
  cursor: pointer;
  border-style: solid;
}
.content-menu li:before{
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 8px solid transparent;
  bottom: 0;
  left: 0;
  box-sizing: border-box;

}
.content-menu li:after{
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 8px solid transparent;
  top: 0;
  right: 0;
  box-sizing: border-box;
}
.content-menu li:hover:after{
  height: 100%;
  width: 100%;
  border: 2px solid red;
  border-left: none;
  border-top: none;
  transition: height 0.3s linear,
              width 0.3s linear 0.3s;
}
.content-menu li:hover:before{
  height: 100%;
  width: 100%;
  border: 2px solid red;
  border-right: none;
  border-bottom: none;
  transition: height 0.3s linear,
              width 0.3s linear 0.3s;
}
.content-menu li span{
  font-size: 20px;


}
.content-menu li:hover{
  transform: translateX(2px);

}
#puzle{
  width: 25px;
  height: 25px;
}
.icon1{
  cursor: pointer;
}

.icon2, .icon5, .icon6, .ico7, .icon8, .icon10, .icon12, .icon13{
  color: white
}

.todos{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.tarjetasdeInfo{
  height: 100%;
  width: 90%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: -5%;
}

.tarjeta::before{
  content: "";
  width: 103%;
  height: 215px;
  background: linear-gradient(red, black);
  position: absolute;
  bottom: -105%;
  transition: all .3s;
  z-index: 1;
}
.tarjeta{
  position: relative;
  background-color: white;
  width: 33%;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 10px;
  border-bottom: 2px solid black;
  overflow: hidden;
  cursor: normal;
}
.tarjeta:hover:before{
  bottom: 0;
  transition: all .3s;

}
.tarjeta h2{
  color: white;
  font-size: 15px;
  margin-top: 6%;
  z-index: 2;
}
.tarjeta a{
  margin-top: 8%;
  z-index: 2;
  text-decoration: none;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}
.tarjeta img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -5%;
  z-index: 2;
}

.parteuna, .partedos, .partetres, .partecuatro{
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
  width: 100%;
}

#uno{
  margin-top: 30px;
}
#dos{
  margin-top: 30px;
}
#tres{
  margin-top: 30px
}
#cuatro{
  margin-top: 20px;
}
#cinco{
  margin-top: 20px
}
#seis{
  margin-top: 20px
}
#siete{
  margin-top: 20px
}
#ocho{
  margin-top: 20px
}
#nueve{
  margin-top: 20px
}
#diez{
  margin-top: 20px
}
#once{
  margin-top: 20px
}
#doce{
  margin-top: 20px
}
.icon8 h4{
  margin-left: 20%;
}

