*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  width: 100%;
  height: 5%;
  background: black;
  position: fixed;
  z-index: 50;

  }

.container-header{
  width: 100%;
  max-width: 1200px;
  position: relative;

  }
.logo-title a{
  text-decoration: none;
  margin-top: 0.5%;
  }
.logo-title{
  display: flex;

  }
.logo-title img{
  width: 3.3%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
  }
.logo-title h4{
  color: white;
  cursor: pointer;
  font-weight: 100;
  margin-left: 0.5%;
  margin-top: 0.7%;
  font-family: 'Krona One', sans-serif;
  font-size: 100%;
   }
.icon-menu{
  position: absolute;
  right: 2%;
  top: 0%;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: all 500ms;
}

.icon-menu:hover{
  color: orange;
  transition: all 500ms;
}
.content-menu{
  display: flex;
  justify-content: flex-end;

}

.menu{
  position: fixed;
  top: 5%;
  width: 0;
  height: 100vh;
  background: #F1A37E;
  margin-top: 0%;
  transition: all 400ms;

}
.menu2{
  width: 150px;
  transition: all 500ms;
}
.menu li{
  list-style: none;
  padding: 14px;
  color: white;
  transition: all 300ms;
  cursor: pointer;
}
.menu li:hover{
  background: rgba(0,0,0,0.2);
  border-bottom: 0.1px solid black;
}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
section{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.content-menu a{
text-decoration: none;
color: white;
font-family: 'Audiowide', cursive;

}
#avg{
  width: 15%;
}
#eset{
  width: 17%;
}
#microsoft{
  width: 25%;
}
#ca{
  width: 10%;
}
#comodo{
  width: 25%;
}
#zonealarm{
  width: 20%;
}


#avast{
  width: 18%;
}
#gdata{
  width: 8%;
}
#norton{
  width: 9%;
}
#trendmicro{
  width: 20%;
}
#escan{
  width: 18%;
}
#lionstrong{
  width: 25%;
}



#bitdefender{
  width: 15%;
}
#panda{
  width: 25%;
}
#k7{
  width: 15%;
}
#quickheal{
  width: 20%;
}
#malwarebytes{
  width: 20%;
}
#fsecure{
  width: 12%;
}




#bullguard{
  width: 20%;
}
#kaspesky{
  width: 10%;
}
#pctools{
  width: 25%;
}
#total{
width: 20%;
}
#vipre{
  width: 20%;
}
#avira{
  width: 10%;
}




#sophos{
  width: 25%;
}
#mcafee{
  width: 25%;
}
#webroot{
  width: 12%;
}
#ahnlab{
  width: 20%;
}
#emsisoft{
  width: 25%;
}
#seccion1{
  background-color: white;
}
#seccion2{
  background-image: url('imagenes/pcs.png');
}
#seccion2 h1{
  text-align: center;
  font-size: 25px;
}
.texti{
  background-color: white;
  border-radius: 40px;
  width: 22%;
  position: relative;
  top: 6%;
  left: 1%;
}
.look{
  width: 40%;
  background-color: white;
  border-radius: 30px;
  position: relative;
  top: 7%;
  left: 1%;
}
.look h1{
  text-align: center;
}
.parrafo{
  border-radius: 20px;
  width: 90%;
  position: relative;
  top: 8.5%;
  left: 3%;
  background-color: white;
}
.antimalware, .antivirus{
  background-color: white;
  width: 35%;
  border-radius: 10px;
}
.antimalware h1, .antivirus h1{
  border-bottom: 1px solid black;
  text-align: center;
}
.antimalware{
  position: relative;
  left: 13%;
  top: 8%;
  height: 80%;
}
.antivirus{
  position: relative;
  left: 52%;
  top: -72%;
  height: 80%;
}
.antivirus li{
  padding-left: 1%;
  font-size: 15px;
  font-family: 'Righteous', cursive;
}
.antimalware li{
  padding-left: 1%;
  font-size: 15px;
  font-family: 'Righteous', cursive;
}
.parrafo p{
  padding: 1% 1% 1% 1%;
  text-align: center;
  font-size: 23px;
  font-family: 'Righteous', cursive;

}
#texto{
  margin-top: 3%
}
#seccion3{
  background-image: url('imagenes/Antivirus/antivirus.png');

}
#seccion3 img{
  width: 30%;
  height: 60%;
  margin: 10% 35%;
  color: black;

}
#seccion4{
  background-image: url('imagenes/pc.png');
}
#seccion5{
  background-image: url('imagenes/letras.png');
}
#seccion5 h1{
  font-size: 45px;
  text-align: center;
  color: white;
}
#seccion6{
  background-image: url('imagenes/Antivirus/lluvi.png');
}
.nodos{
  display: flex;
  justify-content: space-around;
  background-color: #E52E70;
  width: 30%;
  height: 71px;
  border-radius: 30px;
  position: relative;
  top: 13%;
  transition: all 400ms;
}
.nodos:hover{
  transform: translateX(2px);
  transition: all 400ms;
}
#byte{
  height: 30px;
  margin-left: 35%;
}
#pand{
  position: relative;
  left: 18%;
}
#nort{
  height: 240px;
  margin-left: 50%;
}
#byte h1{
  padding-top: 0.5%;
}
#nort img{
  height: 251px;
  width: 75%;
}
#nort h1{
  padding-top: 30%;
  padding-right: 15%;
}
.nodos h1{
  color: #FE8702;
  padding-top: 5%;
  text-align: center;
}
#kas{
  height: 168px;
  margin-left: 65%;
}
#kas img{
  height: 170px;
  width: 150px;
}
#kas h1{
  padding-top: 20%;
}
.tipos{
  background-color: black;
  width: 45%;
  border-radius: 20px;
  position: relative;
  top: 8%;
  left: 30%;
}
.tipos h1{
  color: white;
  text-align: center;
}
.antimalwares{
  background-color: white;
  position: relative;
  top: 10%;
  width: 15%;
  height: 70%;
  border-radius: 25px;
}
.windows{
  width: 100%;
  padding-bottom: 5%;
}

.antimalwares h2{
  text-align: center;
}
#malwa{
  margin-left: 4%;
}
#virs{
  position: relative;
  top: -60%;
  left: 24%;
}
#fire{
  position: relative;
  top: -130%;
  left: 43%;
}
#spy{
  position: relative;
  top: -200%;
  left: 62%;
}

#aa{
  height: 190px;
}
#ransom{
  position: relative;
  top: -270%;
  left: 81%;
}
.antimalwares img:hover{
  transform: translateX(2px);
  transition: all 400ms;
}
.paralax{
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
}
.imagenes{
  padding-left: 8%;
  width: 100%;
}
#sad{
  padding-top: 2%;
}
.grupouno img:hover{
  transform: translateX(2px);
  transition: all 400ms;
}
.grupouno img{
  transition: all 400ms;
}

.grupodos img:hover{
  transform: translateX(2px);
  transition: all 400ms;
}
.grupodos img{
  transition: all 400ms;
}

.grupotres img:hover{
  transform: translateX(2px);
  transition: all 400ms;
}
.grupotres img{
  transition: all 400ms;
}

.grupocuatro img:hover{
  transform: translateX(2px);
  transition: all 400ms;
}
.grupocuatro img{
  transition: all 400ms;
}

.grupocinco img:hover{
  transform: translateX(2px);
  transition: all 400ms;
}
.grupocinco img{
  transition: all 400ms;
}

.gruposeis img:hover{
  transform: translateX(2px);
  transition: all 400ms;
}
.gruposeis img{
  transition: all 400ms;
}
a, #seccion2 {
  transition: all 300ms;
}
