*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}
body::-webkit-scrollbar{
  width: 2px;
  background: none;
}
body::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  border-radius: 10px;
  background: linear-gradient(90deg, #FE8702, red);
}
main{
  width: 100%;
}
header{
  width: 100%;
  height: 35px;
  background-color: black;
  position: fixed;
  z-index: 50;
}
header span{
  font-size: 20px;
  padding: 6px;
  color: white;
  transition: all 300ms;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 12px;
}
header img{
  height: 25px;
}
.logo-icono{
  position: relative;
  top: 5px;
  left: 940px;
}
.icon-menu:hover{
  background-color: red;
  border-radius: 20px;
}

.content-menu::-webkit-scrollbar{
  width: 2px;
  background: white;
}
.content-menu::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  border-radius: 10px;
  background-color: #CCCCCC;
}

.content-menu{
  width: 70px;
  height: 100%;
  background-color: black;
  transition: all 400ms;
  padding-top: 35px;
  position: fixed!important;
  overflow: auto;
  z-index: 5;
}
.content-menu a{
  text-decoration: none;
}
.content-menu2{
  width: 225px;
  margin-top: 0%;

}
.content-menu2 li span {
  display: flex;
  justify-content: flex-start;
  margin-left: 17px;

}
.content-menu2 h4{
  transform: translateY(-15px);

}

.content-menu img{
  width: 20px;
  height: 20px;

}

.content-menu2 img{
  display: flex;
  justify-content: flex-start;
  margin-left: 17px;
}
.content-menu h4{
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
}


.content-menu li{
  list-style: none;
  text-align: center;
  padding: 20px 0px 35px;
  color: white;
  transition: all 550ms;
  cursor: pointer;
  border-style: solid;
}
.content-menu li:before{
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 8px solid transparent;
  bottom: 0;
  left: 0;
  box-sizing: border-box;

}
.content-menu li:after{
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 8px solid transparent;
  top: 0;
  right: 0;
  box-sizing: border-box;
}
.content-menu li:hover:after{
  height: 100%;
  width: 100%;
  border: 2px solid red;
  border-left: none;
  border-top: none;
  transition: height 0.3s linear,
              width 0.3s linear 0.3s;
}
.content-menu li:hover:before{
  height: 100%;
  width: 100%;
  border: 2px solid red;
  border-right: none;
  border-bottom: none;
  transition: height 0.3s linear,
              width 0.3s linear 0.3s;
}
.content-menu li span{
  font-size: 20px;


}
.content-menu li:hover{
  transform: translateX(2px);

}
#puzle{
  width: 25px;
  height: 25px;
}
.icon1{
  cursor: pointer;
}

.icon2, .icon5, .icon6, .ico7, .icon8, .icon10, .icon12, .icon13{
  color: white
}
.todos{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.todos, .virus{
  align-items: flex-start;
}
.virus{
  margin-top: 2.5%;
  margin-left: 6.5%;
  margin-right: 0%;
  padding-bottom: 1%;
  width: 100%;
  height: 100%;
  background-color: #100E17;
  transition: all 400ms;
  z-index: 1;
}
.virus::after {
  content: "";
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  z-index: -1;
  background-image:
  radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.75), #100e17),
  url(imagenes/virus/troya.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.titulo{
  background-color: #100E17;
  border: 1px solid black;
  transition: all 400ms;
  border-bottom: 1px solid #FE8702;
}
#prologo{
  font-size: 25px;
  text-indent: 0%;
}
.virus h1{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: white;
  transition: all 400ms;
  font-size: 50px;
}
.virus p{
  color: white;
  padding-left: 2.5%;
  padding-right: 1.5%;
  transition: all 400ms;
  font-size: 20PX;
  text-indent: 2%;

}
.virus h2{
  color: white;
  font-size: 29px;
  padding-left: 3.5%;
}
.titulo:hover{
  transition: all 800ms;
  background: linear-gradient(50deg, #FE8702, #E52E70);

}
.titulo h1:hover{
  font-size: 250px;
  transition: all 400ms;
}
.barra{
  font-weight: 100;
  font-family: 'Josefin Sans', sans-serif;
}
.imagen{
  width: 250px;
  height: 250px;
  border-radius: 200px;
  opacity: 0.5;
}
.scrill{
  color: #E52E70;
}
#lineas{
  border-top: 1px solid #FE8702;
  padding-top: 3%;
  padding-bottom: 4%;
  padding-right: 2%;
  border-left: none;
  border-right: none;
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    background-color: #100E17;

}

.container .card{
    width: 260px;
    height: 430px;
    border-radius: 12px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card h4{
    background: linear-gradient(90deg, #E52E70, #FE8702 );
    font-weight: 600;
    color: white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.container .card p{
    padding: 0 1rem;
    font-size: 28px;
    font-weight: 300;
    color: white;
    padding-top: 5%;
    font-family: 'Josefin Sans', sans-serif;
}
